# Dependency directories
node_modules/
dist/

# Environment variables and secrets
.env

# Local test files
*.http




# node_modules
# .env
# api.http
# node_modules/
# bookings.http
# payments.http
# vehicle.http
# payment.http
# Receipt.http
# dist 
# /dist
# dist/